<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: options"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam aperiam architecto consequatur cupiditate dignissimos eum in natus, nemo neque quam reprehenderit. Architecto error fugit inventore ipsa rem tenetur velit!</p> <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam aperiam architecto consequatur cupiditate dignissimos eum in natus, nemo neque quam reprehenderit. Architecto error fugit inventore ipsa rem tenetur velit!</p>
</body>
</html>